body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #f1f1f1;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
          box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.main-navigation .site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 15px 70px;
}

a {
  text-decoration: none;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(2) {
  margin-right: 90px;
}

.site-navigation li:nth-child(-n+2) {
  text-align: left;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: rgb(129, 179, 210);
}

.site-navigation a:focus {
  color: rgb(0, 0, 0);
}

.site-navigation a:active {
  color: rgb(0, 0, 0);
}

.promo {
  background-image: url("../img/background-photo.jpg");
  background-color: #F0F8FF;
  background-position: center;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 76px;
  padding-bottom: 87px;
  position: relative;
  z-index: 1;
}

.promo-image {
  text-align: center;
  margin-bottom: -11px;
}

.feature-text-promo {
  background-color: #ffffff;
  text-transform: uppercase;
}

.feature-text-promo p {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
  letter-spacing: 0.1px;
}

.features h3 {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 60px;
}

.promo:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/svg-sedona/intro-mask.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 56px;
}

.features p,
.features span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  color: #604e43;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.feature {
  background-color: rgb(129, 179, 210);
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
}

.feature-text,
.feature img {
  height: 100%;
}

.feature figure {
  margin: 0;
}

.feature p {
  font-size: 14px;
  line-height: 23px;
  font-weight: 500;
  letter-spacing: 0.21px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 18px 55px 0 55px;
}

.bridge p {
  padding-left: 40px;
  padding-right: 40px;
}

.feature h3 {
  margin: 0;
  line-height: 21px;
  padding-top: 47px;
  padding-bottom: 5px;
}

.features-other h3 {
  margin: 0;
  padding-bottom: 10px;
}

.feature-more,
.features-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  text-align: center;
}

.feature-more {
  margin: 0;
  padding: 80px 19px 80px 15px;
}

.feature-more h3 {
  position: relative;
  padding-top: 75px;
  padding-bottom: 20px;
}

.feature-more p {
  line-height: 21px;
  margin: 0;
}

.feature-housing p,
.feature-souvenirs p {
  padding: 0 40px;
}

.feature-food p {
  padding: 0 70px;
}

.feature-more h3:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70px;
  height: 70px;
}

.feature-housing h3:before {
  background-image: url("../img/svg-sedona/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.feature-food h3:before {
  background-image: url("../img/svg-sedona/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.feature-souvenirs h3:before {
  background-image: url("../img/svg-sedona/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}

.features-other {
  background-color: #f1f1f1;
  margin: 0;
  padding-bottom: 20px;
}

.features-other h3 {
  margin: 0;
  padding-top: 0;
}

.features-other p {
  margin: 0;
  line-height: 21px;
  padding: 20px 70px;
}

.feature-road {
  margin: 0 60px;
}

.feature-road p {
  padding: 20px 5px;
}

.order {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.order h2 {
  margin: 0;
  font-size: 30px;
  line-height: 32px;
  font-weight: bold;
  padding-top: 55px;
  padding-bottom: 28px;
}

.order p {
  margin: 0;
  line-height: 25px;
  padding-bottom: 43px;
}

.button-search-hotel {
  display: inline-block;
  vertical-align: middle;
  background-color: #756357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 566px;
  padding: 30px 0;
}

/*
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
} */
/* .modal-show {
  display: flex;
  animation: bounce 0.4s;
} */
/* .modal-close {
  display: none;
  position: absolute;
  background-color: transparent;
  border: 0;
} */
.appointment-form {
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 294px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 566px;
  padding: 53px 0;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #708090;
          box-shadow: 0 0 10px #708090;
  margin: 0;
  z-index: 3;
}

.iframe, .input, .button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.appointment-items input,
.appointment input {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding: 10px;
  padding-right: 0;
  background-color: #f1f1f1;
}

.appointment-items {
  position: relative;
}

.appointment-items input {
  width: 345px;
  padding: 10px;
  margin-left: -8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid transparent;
}

.appointment-items input:hover {
  background-color: #ebebeb;
}

.appointment-items input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.appointment-date-button {
  content: "";
  position: absolute;
  width: 19px;
  height: 20px;
  top: 7px;
  right: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.5;
}

.appointment input {
  width: 114px;
  margin-left: 10px;
  text-align: center;
}

.appointment-items label {
  margin-bottom: 9px;
  margin-right: 22px;
  margin-left: 3px;
}

.appointment-items label:last-child {
  margin-left: 0;
}

.appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.appointment-item-adults,
.appointment-item-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.appointment-item-adults {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 228px;
  margin-left: 40px;
}

.appointment-item-adults label {
  margin-right: 23px;
}

.appointment-item-children {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 228px;
  margin-right: 40px;
}

.appointment-quantity-down,
.appointment-quantity-up {
  position: relative;
  width: 36px;
  height: 36px;
}
.appointment-quantity-down:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 15px;
  left: 50%;
  background-color: #d0d0d0;
}

.appointment-quantity-up:before,
.appointment-quantity-up:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #d0d0d0;
  top: 15px;
  right: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.appointment-quantity-up:after {
  -webkit-transform: translateX(-50%) rotate(90deg);
      -ms-transform: translateX(-50%) rotate(90deg);
          transform: translateX(-50%) rotate(90deg);
}

.appointment-item input {
  margin-left: 45px;
}

.button-search {
  display: inline-block;
  vertical-align: middle;
  background-color: rgb(129, 179, 210);
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 457px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 26px;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-color: rgb(70, 130, 180);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28px;
  color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter li {
  padding-bottom: 25px;
}

.filter li:last-child {
  padding-bottom: 10px;
}

.filter legend {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-left: -70px;
}

.hotel-title legend {
  margin-left: -185px;
}

.filter-range-title {
  margin: 0;
  margin-right: -75px;
}

fieldset {
  border: none;
}

.checkbox-benefits,
.checkbox-hotels {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.checkbox-benefits {
  margin-left: -110px;
}

.checkbox-hotels {
  margin-left: -220px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox+label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox+label:before {
  content: "";
  position: absolute;
  background: transparent;
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  width: 21px;
  height: 21px;
}

.checkbox+label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent;
}

.checkbox:checked+label:before {
  background: transparent;
}

.checkbox:checked+label:after {
  background-image: url("../img/svg-sedona/checkbox-on.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.checkbox:disabled+label,
.checkbox:checked:disabled+label {
  opacity: 0.5;
}

.filter-range {
  width: 320px;
  text-transform: uppercase;
  margin-right: -75px;
  margin-top: -5px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 34px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  font-size: 14px;
  font-weight: 500;
  width: 80px;
  padding-left: 66px;
}

.price-controls input {
  width: 35px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
  width: 6px;
  height: 6px;
  background: #ababab;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 60px 30px 70px;
  border-bottom: 2px solid #f1f1f1;
  text-transform: uppercase;
}

.button-filter-sort h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
}

.button-filter {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 50px;
  margin-top: 20px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}

.button-filter a {
  margin-right: 32px;
  text-decoration: none;
  color: #000000;
}

.button-filter a:first-child {
  margin-left: 35px;
}

.hover,
.button-filter a:hover {
  color: rgb(129, 179, 210);
}

.focus,
.button-filter a:focus {
  color: #f1f1f1;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.button-sort {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 20px;
}

.button-sort-up,
.button-sort-down {
  opacity: 0.5;
  padding-right: 10px;
  cursor: pointer;
}

.appointment-quantity-up:hover,
.appointment-quantity-down:hover,
.appointment-date-button:hover,
.button-sort-up:hover,
.button-sort-down:hover {
  opacity: 1;
}

.hover path,
.social-button:active path,
.appointment-date-button:active path,
.copyright-button:hover path,
.button-sort-up:focus path,
.button-sort-up:active path,
.button-sort-down:focus path,
.button-sort-down:active path {
  fill: rgb(129, 179, 210);
}

.hotel-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
}

.hotel-list figure {
  margin: 0;
  padding: 0 30px 25px;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #f1f1f1;
  padding-top: 30px;
}

.hotel-item-card {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.hotel-item-card h3 {
  margin: 0;
  padding-bottom: 5px;
}

.hotel-item-card b {
  margin: 0;
}

.footer-slogan,
.hotel-item-card a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.button-filter a:hover,
.hotel-item-card a:hover {
  color: rgb(129, 179, 210);
}

.hotel-item-card a:focus {
  color: #f1f1f1;
}

.hotel-item-type,
.card-rating-rank {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}

.hotel-item-type-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-item-buttons {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
}

.hotel-item-buttons a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.button-book {
  background-color: #756357;
  padding: 5px 17px;
}

.button-more {
  background-color: rgb(129, 179, 210);
  margin-right: 5px;
  padding: 5px 17px;
}

.button-search:hover,
.social-button:hover,
.hotel-item-button-more a:hover {
  background-color: #669dc0;
  color: #ffffff;
}

.button-search:active,
.hotel-item-button-more a:active {
  background-color: #669dc0;
  color: rgb(129, 179, 210);
}

.button-search-hotel:hover,
.hotel-item-button-book a:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-search-hotel:active,
.hotel-item-button-book a:active {
  background-color: #604e43;
  color: #756357;
}

.card-rating {
  display: block;
  text-align: right;
}

.card-rating-rank {
  background-color: #f1f1f1;
  padding: 5px 15px;
  margin-right: 70px;
}

.card-rating-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0 70px 20px 0;
}

.card-rating-value {
  background-image: url("../img/svg-sedona/star.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  margin-left: 130px;
  margin-top: 30px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 151px;
  margin: 0 auto;
  padding-top: 5px;
  padding-left: 150px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 46px;
  background-color: rgb(129, 179, 210);
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  width: 210px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.copyright-button {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 115px;
  height: 40px;
}

.copyright-button:active path {
  fill: #bdbbbc;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
