body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  color: #000000;
  background-color: #f1f1f1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.header {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
}

.main-navigation .site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-navigation {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 15px 70px;
}

a {
  text-decoration: none;
}

.site-navigation li {
  width: 240px;
}

.site-navigation li:nth-child(2) {
  margin-right: 90px;
}

.site-navigation li:nth-child(-n+2) {
  text-align: left;
}

.site-navigation li:nth-child(n+3) {
  text-align: right;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: rgb(129, 179, 210);
}

.site-navigation a:focus {
  color: #f1f1f1;
}

.site-navigation a:active {
  color: rgb(0, 0, 0);
}

.site-navigation-current a {
  color: rgb(118,99,87);
}

.promo {
  background-image: url("../img/background-photo1.jpg");
  background-color: #F0F8FF;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 76px;
  padding-bottom: 87px;
  position: relative;
  z-index: 1;
}

.promo-image {
  text-align: center;
  margin-bottom: -11px;
}

.feature-text-promo {
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 0 350px;
}

.feature-text-promo p {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 12px;
  letter-spacing: 0.1px;
}

.features h3 {
  position: relative;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding-top: 60px;
}

.promo:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("../img/svg-sedona/intro-mask.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 56px;
}

.features p,
.features span {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #604e43;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 256px;
  background-color: rgb(129, 179, 210);
  color: #ffffff;
}

.feature-text,
.feature img {
  height: 100%;
}

.feature figure {
  margin: 0;
}

.feature p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 20px 55px 0 55px;
}

.bridge p {
  padding-left: 40px;
  padding-right: 40px;
}

.feature h3 {
  margin: 0;
  line-height: 21px;
  padding-top: 47px;
  padding-bottom: 5px;
}

.features-other h3 {
  margin: 0;
  padding: 0 120px 10px 120px;
}

.feature-more,
.features-other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  text-align: center;
}

.feature-more {
  margin: 0;
  padding: 80px 0;
  padding-left: 10px;
}

.feature-housing,
.feature-food,
.feature-souvenirs,
.feature-square,
.feature-road,
.feature-tourists {
  width: 32.33333%;
  padding-right: 14px;
}

.feature-more h3 {
  position: relative;
  padding-top: 77px;
  padding-bottom: 20px;
}

.feature-more p {
  line-height: 21px;
  margin: 0;
  padding: 0 40px;
}

.feature-more h3:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
}

.feature-housing h3:before {
  background-image: url("../img/svg-sedona/icon-1.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.feature-food h3:before {
  background-image: url("../img/svg-sedona/icon-3.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.feature-souvenirs h3:before {
  background-image: url("../img/svg-sedona/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 72px 72px;
}

.features-other {
  background-color: #f1f1f1;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 40px;
}

.feature-square,
.feature-road,
.feature-tourists {
  margin-top: -15px;
}

.features-other h3 {
  margin: 0;
  line-height: 21px;
  letter-spacing: 0.3px;
  padding-bottom: 22px;
}

.features-other p {
  margin: 0;
  line-height: 21px;
  padding: 20px 55px;
}

.feature-road {
  margin-left: 15px;
  margin-right: 10px;
}

.feature-tourists p {
  padding: 20px 60px;
}

.order {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.order h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 20px;
}

.order p {
  margin: 0;
  line-height: 26px;
  padding-bottom: 45px;
}

.button-search-hotel {
  display: inline-block;
  position: relative;
  width: 566px;
  padding: 30px 0;
  background-color: #756357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

@keyframes bounce {
  0% {
    top: 500px;
  }

  70% {
    top: 390px;
  }

  90% {
    top: 340px;
  }

  100% {
    top: 290px;
  }
}

.modal {
  display: none;
  position: absolute;
}

.modal-show {
  display: flex;
  animation: bounce 0.15s;
}

.modal-close {
  display: none;
  position: absolute;
  background-color: transparent;
  border: 0;
}

.appointment-form {
  width: 566px;
  padding: 53px 53px;
  margin: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  top: 290px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 10px #708090;
  box-shadow: 0 0 10px #708090;
  z-index: 3;
}

.iframe, .input, .button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.appointment-items input,
.appointment input {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  padding: 7px 10px;
  padding-right: 0;
  background-color: #f1f1f1;
}

::-webkit-input-placeholder {
  color: #000000;
  opacity: 1;
}

::-moz-placeholder {
  color: #000000;
  opacity: 1;
}

:-moz-placeholder {
  color: #000000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000000;
  opacity: 1;
}

.appointment-items {
  position: relative;
  margin-bottom: 30px;
}

.appointment-items input {
  width: 345px;
  margin-left: -8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid transparent;
}

.appointment-items input:hover {
  background-color: #ebebeb;
}

.appointment-items input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.appointment-date-button {
  content: "";
  position: absolute;
  width: 19px;
  height: 20px;
  top: 7px;
  right: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.5;
}

.appointment-items label {
  margin-bottom: 9px;
  margin-right: 22px;
  margin-left: 3px;
}

.appointment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 53px;
}

.appointment input {
  width: 29px;
  text-align: center;
}

.appointment-item-adults,
.appointment-item-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.appointment-item-adults label {
  margin: 0;
  padding: 5px 42px 0 1px;
}

.appointment-item-children label {
  margin: 0;
  padding: 5px 28px 0 55px;
}

.appointment-quantity-down,
.appointment-quantity-up {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #f1f1f1;
}

.appointment-quantity-down:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d0d0d0;
}

.appointment-quantity-up:before,
.appointment-quantity-up:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #d0d0d0;
  top: 15px;
  right: 6px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.appointment-quantity-up:after {
  -webkit-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
  transform: translateX(-50%) rotate(90deg);
}

.appointment-quantity-up:hover:before,
.appointment-quantity-up:hover:after,
.appointment-quantity-down:hover:before {
  content: '';
  background-color: #000000;
}

.appointment-quantity-up:focus:before,
.appointment-quantity-up:focus:after,
.appointment-quantity-down:focus:before {
  content: '';
  background-color: rgb(129, 179, 210);
}

.button-search {
  display: inline-block;
  background-color: rgb(129, 179, 210);
  color: #ffffff;
  font-size: 19px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  width: 457px;
  padding: 18px 0;
  margin: 0;
}

.iframe {
  background-image: url("../img/map.jpg");
  background-color: #DDDDDD;
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 476px;
  margin-bottom: -5px;
}

.filter {
  background-image: url("../img/filter-background.jpg");
  background-color: rgb(70, 130, 180);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 28px;
  color: #ffffff;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-transform: uppercase;
}

.filter ul {
  list-style: none;
}

.filter li {
  padding-bottom: 25px;
}

.filter li:last-child {
  padding-bottom: 8px;
}

.filter legend {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.3;
  line-height: 21px;
  margin-left: -80px;
  margin-bottom: 2px;
  color: #ffffff;
}

.hotel-title legend {
  margin-left: -185px;
}

.filter-range-title {
  margin: 0;
  padding-left: 80px;
}

fieldset {
  border: none;
}

.checkbox-benefits,
.checkbox-hotels {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.checkbox-benefits {
  margin-left: -118px;
}

.checkbox-hotels {
  margin-left: -220px;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox+label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
}

.checkbox+label:before {
  content: "";
  position: absolute;
  background: transparent;
  background-image: url("../img/svg-sedona/checkbox-off.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
  left: 0;
  width: 22px;
  height: 22px;
}

.checkbox+label:after {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background: transparent;
}

.checkbox:checked+label:before {
  background: transparent;
}

.checkbox:checked+label:after {
  background-image: url("../img/svg-sedona/checkbox-on.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.checkbox:disabled+label,
.checkbox:checked:disabled+label {
  opacity: 0.5;
}

.filter-range {
  width: 320px;
  text-transform: uppercase;
  margin-right: -80px;
  margin-top: -10px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 34px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  font-size: 14px;
  font-weight: 400;
  width: 80px;
  padding-left: 66px;
}

.price-controls input {
  width: 35px;
  margin: 0;
  color: inherit;
  font-size: 14px;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  width: 6px;
  height: 6px;
  background: #1c4f80;
  background: #ababab;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  margin-right: 100px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.button-filter-sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  padding: 15px 60px 30px 70px;
  border-bottom: 2px solid #f1f1f1;
}

.button-filter-sort h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding-top: 15px;
}

.button-filter {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin-left: 50px;
  margin-top: 20px;
}

.button-filter a {
  margin-right: 32px;
  text-decoration: none;
  color: #f1f1f1;
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.button-filter a:first-child {
  margin-left: 35px;
}

.button-filter a:hover {
  color: rgb(129, 179, 210);
  border-bottom: 1px dotted rgb(129, 179, 210);
}

.button-filter a:active {
  color: #000000;
  border-bottom: none;
}

.button-filter a:focus {
  color: rgb(129, 179, 210);
  border-bottom: none;
}

.button-sort {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 20px;
}

.button-sort-up,
.button-sort-down {
  opacity: 0.5;
  padding-right: 10px;
  cursor: pointer;
}

.appointment-date-button:hover,
.button-sort-up:hover,
.button-sort-down:hover {
  opacity: 1;
}

.social-button:active path,
.appointment-date-button:active path,
.copyright-button:hover path,
.button-sort-up:visited path,
.button-sort-up:active path,
.button-sort-down:visited path,
.button-sort-down:active path {
  fill: rgb(129, 179, 210);
}

.hotel-list {
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding-left: 1px;
}

.hotel-list figure {
  margin: 0;
  padding: 0 30px 25px 70px;
}

.hotel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  border-bottom: 2px solid #f1f1f1;
}

.hotel-item-card {
  width: 782px;
}

.hotel-item-card h3 {
  letter-spacing: 0.3px;
  margin: 0;
  margin-top: -5px;
  padding-bottom: 5px;
}

.footer-slogan,
.hotel-item-card a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.button-filter a:hover,
.hotel-item-card a:hover {
  color: rgb(129, 179, 210);
}

.hotel-item-card a:focus {
  color: #f1f1f1;
}

.hotel-item-type,
.card-rating-rank {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: rgb(51, 51, 51);
}

.hotel-item-type-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel-item-buttons {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  margin-top: 5px;
}

.hotel-item-buttons a {
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.button-book {
  background-color: #756357;
  padding: 4px 17px;
}

.button-more {
  margin-right: 6px;
  padding: 4px 17px;
  background-color: rgb(129, 179, 210);
}

.hotel-item-button-more a:hover {
  background-color: #669dc0;
  color: #ffffff;
}

.button-search:hover,
.social-button:hover {
  background-color: #669dc0;
  color: #ffffff;
}

.button-search:active,
.hotel-item-button-more a:active {
  background-color: #669dc0;
  color: rgb(129, 179, 210);
}

.button-search-hotel:hover,
.hotel-item-button-book a:hover {
  background-color: #604e43;
  color: #ffffff;
}

.button-search-hotel:active,
.hotel-item-button-book a:active {
  background-color: #604e43;
  color: #756357;
}

.card-rating {
  display: block;
  text-align: right;
}

.card-rating-rank {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3px 13px;
  margin-right: 70px;
  margin-bottom: 10px;
  background-color: #f1f1f1;
}

.card-rating-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0;
  padding: 0 70px 32px 0;
}

.card-rating-value {
  background-image: url("../img/svg-sedona/star.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-left: 7px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-transform: uppercase;
  margin: 25px 7px 0 35px;
  color: #000000;
  background-color: #ffffff;
}

.footer-slogan {
  width: 32.33333%;
  padding-left: 98px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 32.33333%;
  margin: 0;
  padding-top: 10px;
  padding-right: 120px;
  padding-left: 0;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 47px;
  height: 46px;
  background-color: rgb(129, 179, 210);
  margin-right: 5px;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32.33333%;
  font-weight: 400;
  margin: 0;
  list-style: none;
}

.footer-copyright b {
  font-size: 14px;
  font-weight: 400;
  padding-left: 25px;
}

.copyright-button {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 117px;
  height: 40px;
  padding-right: 90px;
}

.copyright-button:active path {
  fill: #bdbbbc;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
