body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  background-color: #f1f1f1;
}
.container {
  background-color: #ffffff;
  width: 1280px;
  margin: 0 40px;
}
.header {
  position: relative;
}
.main-header-logo {
  position: absolute;
  top: 0;
  left: 45%;
}
.main-navigation .site-navigation {
  display: flex;
  justify-content: space-between;
}
.main-navigation {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  flex-direction: row;
}
.site-navigation {
  list-style: none;
  margin: 0;
  padding: 17px 70px;
}
a {
  text-decoration: none;
}
.site-navigation a {
  color: #000000;
}
 .site-navigation a:hover {
   color: rgb(129,179,210);
}

.site-navigation a:focus {
  color: rgb(118,99,87);
}
.site-navigation a:active {
  color: #f1f1f1;
}
.promo {
  background-image: url("../img/background-photo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1280px 800px;
  padding-top: 76px;
  margin-top: -63px;
}
.promo-image {
  text-align: center;
}
.feature-text-promo {
  background-color: #ffffff;
}
.feature-text-promo {
  position: relative;
}
.feature-text-promo h3::before {
  content: '';
  position: absolute;
}
.feature-text-promo::before {
  background-image: url("../img/svg-sedona/intro-mask.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1280px 56px;
}
.features h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
}
.features p,
.features span {
  font-size: 14px;
  line-height: 26px;
  color: #604e43;
  text-align: center;
}
.feature p {
  color: #ffffff;
  text-align: center;
}
.feature {
  background-color: rgb(129,179,210);
  color: #ffffff;
  display: flex;
  min-height: 256px;
}
.feature-text,
.feature img {
  height: 100%;
}
.feature-more,
.features-other {
  display: flex;
  margin: 60px 70px 86px;
  text-align: center;
}
.feature-more h3 {
  position: relative;
}
.feature-more h3::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
}
.feature-housing h3::before {
  background-image: url("../img/svg-sedona/icon-2.svg");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 70px 70px;
}
.order {
  text-align: center;
}
.filter {
background-image: url("../img/filter-background.jpg");
background-position: top center;
background-repeat: no-repeat;
background-size: 1280px 800px;
}
.hotel-list {
  list-style: none;
}
.hotel-item {
  display: flex;
}
.hotel-item-card a {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
.hotel-item-card a:hover {
  color: rgb(129,179,210);
}
.hotel-item-card a:focus {
  color: #f1f1f1;
}
.hotel-item-type b,
.card-rating-rank {
  font-size: 14px;
  line-height: 21px;
  color: rgb(51,51,51);
}
.hotel-item-buttons {
  display: flex;
}
.hotel-item-buttons a {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}
.button-book {
  background-color: #756357;
  padding: 7px 17px;
}
.button-more {
  background-color: rgb(129,179,210);
  margin-right: 5px;
  padding: 7px 17px;
}
.hotel-item-button-more a:hover {
  background-color: #669dc0;
  color: #ffffff;
}
.hotel-item-button-more a:active {
  border-color: #669dc0;
  color: rgb(129,179,210);
}
.hotel-item-button-book a:hover {
  background-color: #604e43;
  color: #ffffff;
}
.hotel-item-button-book a:active {
  border-color: #604e43;
  color:  #756357;
}
.card-rating {
  justify-content: flex-end;
}
.card-rating-rank {
  background-color: #f1f1f1;
  padding: 7px 17px;
}
.appointment-form {
  display: none;
}
.main-footer {
  color: #000000;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  margin: 0 101px 0 131px;
}
.footer-social {
  text-align: center;
  list-style: none;
  flex-direction: row;
}
.social-button {
  color: #ffffff;
}
.visually-hidden {
  visibility: hidden;
}
